<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/hello.css">
</head>
<body>

<div id="parent" > <div id="child">content</div> </div>
<button id="btn1" class="buttons">CLICK ME CS-21</button>
<button id="btn2" class="buttons">BTN2</button>
<p id="ptag">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, doloremque?</p>





</body>


<script>

    const btn1 = document.getElementById("btn1").onclick=changetext;
    function changetext(){
    document.getElementById("ptag").innerHTML = "AYAN IS DUMB  ";
    document.getElementById("ptag").style.color = "white";
    }

</script>
</html>