<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
    <link
      rel="stylesheet"
      href="/views/style.css"
    />
  </head>
  <body>
    <div class="container mt-5" id="taskcontainer"></div>
  </body>
  <script>
    // Fetch the appointments from the API
    async function fetchAppointments() {
      try {
        const response = await fetch("http://localhost:3000/api/docinfo"); // Adjust API path as needed
        const data = await response.json();
        console.log(data);
        const message1 = data.message[0];
        console.log(message1);
        // Populate the div
        const tableBody = document.getElementById("taskcontainer");
        message1.forEach((message) => {
          const taskcont = document.createElement("div");
          taskcont.classList.add("docdiv");
          taskcont.innerHTML = `
                    <p>Doc_Name: ${message.name} </p>
                    <p>Doc_Email: ${message.email}</p>
                    <p>Specialization: ${message.specialization}</p>`;
          tableBody.appendChild(taskcont);
        });
      } catch (error) {
        console.error("Error fetching appointments:", error);
      }
    }

    // Call the function on page load
    window.onload = fetchAppointments;
  </script>
</html>
