<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Storage</title>
    <link rel="stylesheet" href="./reportinterface.css" />
  </head>
  <body>
    <h1 style="color: #f8f8f7; -webkit-text-stroke: 1px black">
      Report Storage View
    </h1>

    <div id="outer-container">
      <div id="reports-container" class="inner-container">
        <div class="reportitems">
          <div id="testdiv">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptatibus nisi, sapiente molestias iste veniam expedita dolore
            dolor corporis incidunt aspernatur.
          </div>
        </div>
      </div>
      <div id="sidebar-reports" class="inner-container">
        <a href="#data" class="sidebar-items">patients Data</a>
        <a href="#report" class="sidebar-items">patients report</a>
        <a href="#reportanalysis" class="sidebar-items">Report Analysis</a>
        <a href="#delete" class="sidebar-items">Deleted Reports</a>
      </div>
    </div>
  </body>
</html>
