<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatPage</title>
    <link rel="stylesheet" href="/views/chatpage/chatpage.css">
</head>
<body>
    
<div class="page-container">

    <div class="chat-container">

        <div class="contact-container">
            <div id="createnew"> <button id="addbtn">+</button> Create New</div>
            Chat 
            <input id="search" type="text">
            <a  href="#" class="contact-buttons">contact1</a>
            <a href="#" class="contact-buttons">contact2</a>
            <a href="#" class="contact-buttons">contact3</a>
            <a  href="#" class="contact-buttons">contact1</a>
            <a href="#" class="contact-buttons">contact2</a>
            <a href="#" class="contact-buttons">contact3</a>
            <a  href="#" class="contact-buttons">contact1</a>
            <a href="#" class="contact-buttons">contact2</a>
            <a href="#" class="contact-buttons">contact3</a>
        </div>
        <div class="message-container" id="messagebox">
            <div class="message-items">  
                <input type="text" id="chatbox" placeholder="Chat">
                <button id="emojibtn">😌</button>
                <button id="sendbtn">➤</button>
                
            </div>
            <div id="textmsg"></div>
        </div>

    </div>
    <div class="details-container"></div>

</div>


</body>
<script src="/views/chatpage/chatpage.js"></script>
</html>